* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(0, 0, 0);
  margin-bottom: 150px;
}

nav {
  background-color: #290a32;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 50px;
  cursor: pointer;
}

nav .name {
  width: 40%;
}

nav .name h1 {
  padding-left: 53px;
  font-family: sans-serif;
  font-size: clamp(0.5rem, 2vw, 3rem);
  color: white;
}

nav .nav-links {
  display: flex;
  justify-content: center;
  width: 60%;
  align-items: center;
}

.nav-links ul {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links ul li a {
  color: white;
  font-family: system-ui;
  transition: 0.2s;
  font-size: clamp(0.5rem, 1vw, 2rem);
}

.nav-links ul li a:hover {
  color: purple;
  border-bottom: 2px solid #45b9e8;
  border-radius: 5px;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .heading {
  height: 85px;
  width: 94%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: clamp(1rem, 5vw, 3rem);
  margin-left: 3%;
  font-family: sans-serif;
  letter-spacing: 10px;
  color: purple;
}

.main-box {
  display: flex;
  width: 100%;
  min-height: 300px;
}

.main-para {
  display: flex;
  width: 60%;
  text-align: justify;
  padding-top: 20px;
  margin-left: 60px;
}

.main-para p {
  font-family: sans-serif;
  font-size: 13px;
  font-style: italic;
  color: #ffffff;
}

.main-img {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img img {
  width: 200px;
  transition: 0.4s;
}

img:hover {
  transform: scale(1.2);
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .p-sel {
  width: 60%;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 30px 100px;
  margin: 0px 120px;
  transition: 0.2s;
}

section .party-sel {
  display: flex;
  flex-direction: column;
}

section .p-sel:hover {
  border: 2px solid purple;
  box-shadow: 0 0 10px purple, inset 0 0 10px purple;
}

.p-heading {
  height: 100px;
  text-align: center;
  font-family: system-ui;
  font-size: 30px;
  color: #45b9e8;
}

.party-sel label {
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 12px;
  color: white;
}

.party-sel input {
  border: none;
  background: transparent;
  border-bottom: 1px solid purple;
  outline: none;
  color: white;
  padding: 7px 0px;
}

.btn {
  margin-top: 30px;
  background-color: white;
  color: purple;
  padding: 5px 0px;
  font-family: monospace;
  width: 18%;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: purple;
  font-size: 18px;
  color: white;
}

.note {
  color: red;
  font-family: monospace;
  margin-top: 25px;
}

.output {
  color: white;
  font-family: sans-serif;
  margin-top: 30px;
}

#nex-btn {
  display: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}
