* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:circle;
}

body {
    background-color: black;
}

nav {
    background-color: #290a32;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
    cursor: pointer;
}

nav .name{
    width: 40%;
}

nav .name h1 {
    padding-left: 53px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}


nav .nav-links {
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;

}

.nav-links ul {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links ul li a {
    color: white;
    font-family: system-ui;
    transition: 0.2s;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a:hover {
    color: purple;
    border-bottom: 2px solid #45b9e8;
    border-radius: 5px;
    font-size: 14px;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

main .steps{
    width: 40%;
}

main .steps h3{
    font-family: system-ui;
    color: magenta;
    font-size: 25px;
}

.steps ul {
    color: white;
    padding-left: 60px;
    font-family: monospace;
    line-height: 35px;
    margin: 30px 0px;
}

main .v-img img {
    width: 200px;
    transition: 0.4s;
}

main .v-img img:hover{
    transform: scale(1.2);
}

.parties-sec h4{
    font-family: sans-serif;
    color: #e173f4;
    margin-left: 135px;

}

.parties-sec ul{
    color: white;
    width: 50%;
    margin-left: 163px;
    margin-top: 15px;
    margin-bottom: 50px;

}

.parties-sec ul li {
    font-family: system-ui;
    list-style: auto;
    line-height: 30px;
    text-transform: uppercase;
}

.v-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.v-sec .v-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border:2px solid purple;
    padding: 50px 0px;
    border-radius: 8px;
}

.v-form label { 
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 8px 0px;
}

.v-form .inp{
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: rgb(0, 255, 238);
    width: 200px;
    transition: 0.4s;
}

.v-form .inp:focus {
    margin-top: 10px;
}

.v-form .inp::placeholder{
    font-size: 10px;
    
}

.v-form .bttn {
    background: #847878;
    border: none;
    padding: 5px 20px;
    margin-top: 30px;
    border-radius: 5px;
    transition: 0.3s;
    font-family: monospace;
}

.v-form .bttn:hover{
    background-color: purple;
    color: white;
    font-size: 18px;
}

.v-sec h5 {
    color: #87e8ff;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 50px;

}

.v-form p {
    color: #8bb3ff;
    font-family: system-ui;
    margin-top: 25px;
}

.p-n {
    margin-top: 30px;
}

.p-n, .par-name{
    display:none;
}

#v-btn {
    display:none;
    
}

#n-btn {
    display: block;
}

