* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: rgb(0, 255, 255);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}

.logo_burger {
  background-color: rgb(255, 0, 0);
  display: flex;
  width: 100%;
  padding-inline: 10px;
  height: 40px;
  position: relative;
  z-index: 3;
}

.logo {
  width: 30%;
}

.burger .line {
  width: 30px;
  height: 2px;
  background-color: aqua;
  margin: 8px;
}

.burger {
  display: none;
}

.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
}

.nav-links ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

p {
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  .logo {
    width: 80%;
  }
  .burger {
    width: 20%;
    display: block;
    position: absolute;
    right: 0;
  }

  .nav-links {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  .nav-links ul {
    transition: 0.4s;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    width: 30%;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
  }
  .nav-list {
    transform: translateY(-100%);
  }

  .hei {
    height: 0;
  }
}
