* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #bab9b9;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  height: 40px;
  background: rgb(91, 113, 111);
}

.navbar h1 {
  font-family: math;
  color: white;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-family: system-ui;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-div {
  display: flex;
  width: 70%;
  margin-top: 55px;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-div img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  scroll-snap-align: center;
}

@media only screen and (max-width: 700px) {
  .main-div {
    width: 90%;
  }
}
