* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.logo {
  width: 15%;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}

.leftNav-rightNav {
  display: flex;
  width: 50%;
}

.logo .img1 {
  width: 45px;
  height: auto;
  margin: 0px 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.nav-links {
  width: 77%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-links ul li {
  padding: 5px 20px;
  list-style: none;
}

.nav-links ul li a {
  color: white;
  font-family: hack;
  text-decoration: none;
  font-size: clamp(0.9rem, 2vw, 1rem);
  position: relative;
}

.nav-links ul li a::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: rgb(0, 251, 255);
  border-radius: 10px;
  left: 0;
  bottom: -3px;
  transform: scale(0);
  transition: 0.3s;
}

.nav-links ul li .link1::after {
  width: 40px;
}
.nav-links ul li .link2::after {
  width: 78px;
}
.nav-links ul li .link3::after {
  width: 96px;
}
.nav-links ul li .link4::after {
  width: 68px;
}

/* .nav-links ul li a:hover {
  color: rgb(117, 217, 242);
} */

.nav-links ul li a:hover::after {
  transform: scale(1);
}
.burger {
  display: none;
}

.burger .line {
  background-color: rgb(255, 255, 255);
  width: 40px;
  margin: 11px 0px;
  height: 3px;
}

.right-nav {
  width: 50%;
  display: flex;
  color: aqua;
  justify-content: center;
  align-items: center;
}

.right-nav h1 {
  font-family: sans-serif;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("../images/background.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 70%;
  height: 70%;
  margin: auto;
  padding-top: 50px;
}

.ist-section {
  min-height: 100vh;
}

.first-half {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec-half {
  width: 80%;
}
.sec-half img {
  width: 80%;
  border: 3px solid white;
  border-radius: 100px;
  display: block;
  margin: auto;
}

.text-big {
  color: rgb(229, 255, 0);
  font-size: 35px;
}
.small-text {
  font-size: 12px;
}

.btn {
  padding: 8px 20px;
  margin: 7px 3px;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 10px;
  background: none;
  color: white;
  cursor: pointer;
}

.list {
  display: flex;
  width: 100%;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
}

.list li {
  list-style: none;
  justify-content: center;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  padding: 3px 7px;
}

.list li a {
  color: white;
  padding: 30px 30px;
  text-decoration: none;
  padding: 7px 10px;
  font-size: clamp(0.7rem, 2vw, 1rem);
  display: flex;
}

.list li a:hover {
  color: rgb(229, 255, 0);
}

.dive {
  width: 100%;
  min-height: 60px;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.dive .new {
  width: 100%;
}

.d-sec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
}

.college {
  width: 300px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
}

.sectiontag {
  font-size: 36px;
  color: blue;
}

.sectionsubtag {
  font-size: 14px;
}

.para-box {
  text-align: justify;
  padding-right: 10px;
}

.thumb {
  padding-top: 100px;
}
.contact {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont {
  color: black;
  text-align: center;
  font-size: 40px;
  padding: 35px 0px;
  font-family: sans-serif;
}

.form {
  width: 50%;
  border: 2px solid #464e7e;
  border-radius: 10px;
  padding: 60px 40px;
  margin-top: 130px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contact .form input {
  margin: 14px 0px;
  padding: 5px 3px;
  width: 100%;
  font-size: 19px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgba(255, 255, 255);
}

.form input::placeholder {
  font-size: 14px;
  color: red;
  opacity: 0.5;
}

.form .txt-area {
  border: none;
  width: 100%;
  border-bottom: 2px solid rgb(167, 165, 165);
  margin-top: 10px;
  outline: none;
  resize: vertical;
  overflow: auto;
  line-height: 20px;
  font-family: sans-serif;
  background-color: white;
}

.form .txt-area::placeholder {
  color: red;
  opacity: 0.5;
  font-family: sans-serif;
}

.bt {
  padding: 5px 10px;
  border: none;
  background: transparent;
  margin-top: 30px;
  color: rgb(0, 225, 255);
  font-size: 16px;
  border: 2px solid rgb(0, 225, 255);
  transition: background-color 0.3s;
  border-radius: 7px;
}

.bt:hover {
  background-color: rgb(0, 238, 255);
  color: rgb(0, 0, 0);
  /* border: none; */
}

.footer {
  display: flex;
  margin-top: 150px;
  width: 96%;
  margin-inline: 2%;
  justify-content: space-evenly;
  align-items: flex-start;
  background: #24262b;
  padding-block: 40px;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 70px;
}

.cont-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
}

.university {
  background: #24262b;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
}
.un {
  color: rgb(0 255 231);
  font-family: math;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 5px;
  padding-block: 30px;
  padding-inline: 10px;
}
.cen {
  background: #24262b;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
}

.iml {
  padding-inline: 10px;
  padding-block: 30px;
  color: rgb(0 255 231);
  font-family: math;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 5px;
}
.addr {
  background: #24262b;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
}

.n-links {
  line-height: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.n-links li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  transition: 0.3s;
}

.n-links li a:hover {
  padding-left: 5px;
}

.implinks {
  line-height: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.address {
  padding-inline: 10px;
  padding-block: 30px;
  color: rgb(0 255 231);
  font-family: math;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 5px;
}

.last {
  line-height: 25px;
  padding-inline: 10px;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
}

/* .creator {
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
} */

@media only screen and (max-width: 500px) {
  .logo .img1 {
    width: 30px;
    margin: 10px 10px;
  }

  .nav-list {
    transform: translateY(-200%);
  }

  .nav-links ul {
    transition: 0.3s;
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7) url(../images/background.jpg);
    background-size: cover;
    background-blend-mode: darken;
  }

  .nav-links ul li {
    text-align: center;
  }

  .burger {
    display: block;
    position: absolute;
    right: 10px;
  }

  .hei {
    transform: translateY(-200%);
  }

  .right-nav h1 {
    font-size: 13px;
  }

  .list {
    flex-direction: column;
    row-gap: 15px;
  }

  .list li a {
    justify-content: center;
    padding: 10px 70px;
    width: 300px;
  }
  .dive {
    margin-top: 0px;
    padding-bottom: 50px;
    margin-top: 50px;
  }

  .d-sec {
    flex-direction: column;
  }

  .para-box {
    padding-right: 0px;
    text-align: justify;
  }

  .thumb img {
    width: 300px;
    height: 200px;
  }

  .thumb {
    padding-top: 30px;
  }

  .form {
    width: 90%;
  }

  .university,
  .cen,
  .addr {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar {
    flex-direction: column;
  }

  .leftNav-rightNav {
    height: 50px;
    width: 100%;
  }

  .imgg {
    flex-direction: column;
  }
  .logo img {
    width: 100%;
    margin: 20px 5px;
  }
  .nav-links {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-links ul li {
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 15px;
  }
  .right-nav {
    width: 100%;
  }
  .main-box {
    flex-direction: column;
  }
  .first-half {
    width: 100%;
  }

  .sec-half {
    width: 100%;
    margin: 40px;
  }

  .dive {
    width: 100%;
  }

  .sectiontag {
    padding-top: 35px;
  }
  .sectionsubtag {
    padding: 4px;
  }

  .thumb {
    padding-bottom: 40px;
  }

  .un,
  .iml,
  .address {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .d-sec {
    max-width: 95%;
  }

  .form {
    width: 90%;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 788px) and (min-width: 501px) {
  .d-sec {
    flex-direction: column;
  }

  .para-box {
    margin-top: 80px;
  }

  .thumb {
    padding-top: 50px;
  }

  .thumb img {
    width: 480px;
    height: 280px;
  }

  .form {
    width: 90%;
  }

  .university,
  .cen,
  .addr {
    width: 70%;
  }
}
