* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: cadetblue;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #566364;
}

.navbar h1 {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 10px;
}

.navbar .nav_links {
  margin-right: 10px;
}

.nav_links a {
  color: #ffffff;
  font-family: math;
}

.nav_links a:hover {
  color: rgb(221, 255, 0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .main_head h3 {
  margin-block: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

.container .main_sec {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main_sec table {
  /* min-height: 100vh; */
  aspect-ratio: 16 / 9;
  width: 90%;
  background-color: #084042;
  border-collapse: collapse;
  border-color: #6ce6f182;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tb_data {
  color: yellow;
  text-align: center;
  font-family: math;
  height: 40px;
}

table .tb_head {
  height: 50px;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

table .tb_head .th1 {
  width: 8%;
}

@media only screen and (max-width: 550px) {
  table {
    min-width: 98%;
  }

  table .tb_head .th1,
  .td1 {
    display: none;
  }

  table .tb_head {
    font-size: 14px;
  }

  table .tb_data {
    padding-inline: 10px;
    font-size: 10px;
  }
}
