* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.logo { 
    display: flex;
    width:20%;    
}
.navbar {   
    display:flex;
    position: sticky;
    top:0;
    background: #1a1919;
    cursor: pointer;
}
.logo img {
    width: 255px;
    height: 60px;
}

.nav-list {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    width:50%;
}

.nav-list li{
    padding:5px 20px;
    list-style:none;
    
}

.nav-list li a {
    color:white;
   text-decoration: none;
}

.nav-list li a:hover {
    color:grey;
}

.background {
    background: rgba(0, 0, 0, 0.7) url("../images/background.jpg");
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
}

.ist-sec {
    display:flex;
}

    .img1 {
        display: column;
        width:30%;
    }
    .img1 img {
        width:105px;
        height: 84px;
        border: 2px solid white;
        border-radius: 5px;
        margin: 10px 10px;
    }
    .main-box {
        display:flex;
        color:white;
        width: 80%;
        align-items: center;
    }
    .img2 {
        width: 30%;
        padding: 10px 0px;
    }
    .img2 img {
        width: 300px;
        height: auto;
        border: 2px solid white;
        border-radius: 5px;
    }

    .form {
        display:flex;
       justify-content: center;
       align-items: center;
       line-height: 35px;
    }

    .form label {
        display:flex;
        color: white;
    }

    .style {
        padding: 35px;
        border: 2px solid gray;
        border-radius: 5px;
        background-color:darken;
    }

    .about {
        background: rgb(143, 153, 155);
    }
    .ab {
        display:flex;
    }
    .ab-sec {
        text-align: center;
        font-size: 25px;
        padding: 20px 0px;
        font-weight: bold;
        color: red;
    }
    .ab {
        width: auto;
        padding: 20px 60px;
    }
    .p1 {
        padding-bottom: 30px;
        color: yellow;
        font-size: 25px;
        text-decoration: underline;
    }
    .p2 {
        font-size: 16px;
    }
    .video {
        padding-top: 30px;
        display: flex;
    }
    .video video {
        width:300px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
    }

    .latest {
        display: flex;
        background: #3c5468;;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .products {
        background: #10dbac;
    }
   .main-p {
    padding: 35px;
   }
   .imgg {
    width: 100%;
   
   }
   .imgg img{
    width: 400px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: #84abbf;

   }
   .one {
    display: flex;
    padding-bottom: 70px;
   }
   .one a {
    width: 70%;
    text-align: center;
    margin-top: 70px;
    text-decoration: none;
    color: white;
   }
   .one a:hover {
    color: rgb(0, 0, 0);
   }

   .one span {
    margin-top: 200px;
   }
   .one span a {

    border: 2px solid black;
    margin: 15px;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #c4311a;
   }
   .customer {
    text-align: center;
    font-size: 18px;
    background: rgb(47, 195, 177);
    padding: 10px 10px;
   }
   .cus1 {

    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    width: 25%;
    margin: 50px;
   }
   .cus2 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    width: 25%;
    margin: 50px;
   }
   
   .cus3 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    width: 25%;
    margin: 50px;
   }
   .cus {
    background-color: rgb(224, 131, 131);
    width: 100%;
    display: flex;
   }
   footer {
    text-align: center;
   }
   .adm {
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
   }
   .adm input {
    border: 2px solid gray;
    border-radius: 11px;
    padding: 10px 10px;
   }
   .contact {
    display:flex;
    background-color: #3c688b;
   }
   .con {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .frm {
    margin: 50px;
    line-height: 35px;
    border:3px solid rgb(164, 155, 155);
    border-radius: 20px;
    padding: 45px 85px;
    text-align: center;
    background-color: rgb(163, 181, 181);
}
.frm input {
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    width: 490px;
}
.frm textarea {
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    width: 490px;
}
.sub {
    padding: 2px;
    width: 20px;
}
.img-con {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.img-con img {
    width: 382px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(163, 181, 181);
}


.des {
    width: 25%;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 110px;
    padding: 15px;
    border-radius: 35px;
    background-color: #84abbf;
}
   


    @media only screen and (max-width:1000px){

        .navbar {
            flex-direction: column;
        }
        .logo {
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .nav-list {
            width: 100%;
        }
        .main-box {
            flex-direction: column;
            width: 100%;
        
        }

        .img1 {
            width: 100%;
        }
        .img2 {
            display: flex;
            width: 100%;
            justify-content: center;
        }
            .form {
                display: none;
            }
            .ab {
                flex-direction: column;
            }
            .wel {
                width: 100%;
                padding: 0px 0px;
            }
            .video {
             justify-content: center;
             align-items: center;   
            }
            .one {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .one span {
                margin-top: 20px;
            }
            .one span a {
                
                margin: 30px;
            }
            .imgg img {
                width: 200px;
            }
            .cus {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .cus1 {
                width: 100%;
                margin: 10px;
                
            }
            .cus2 {
                width: 100%;
                margin: 10px;
                
            }
            .cus3 {
                width: 100%;
                margin: 10px;

            }
            .adm {
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            .contact {
                flex-direction: column;
        
            }
            .con {
                width: 100%;
    
            }
            .img-con {
                width: 100%;
            }
            .img-con img{
                width: 320px;
            }
            .n {
            display: none;
            }
            .frm {
                padding: 40px 25px;
                width:320px;
            }
            .frm input {
                width:250px;
            }
            .frm textarea {
                width:250px;
            }
            .des {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            margin: 30px;
            padding: 18px;
            border-radius: 35px;
            }

    }