* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}

.nav-bar {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  background: url("/portfolio/images1/back.jpg");
}

.nav-name {
  width: 30%;
  margin-left: 30px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 10px;
  font-size: 20px;
}

.nav-name::first-letter {
  color: red;
}

.nav-links {
  display: flex;
  width: 70%;
}

.nav-links ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.nav-links a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
  transition: 0.3s;
}

.nav-links a::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: rgb(255, 0, 0);
  left: 0;
  bottom: -3px;
  transform: scale(0);
  transition: 0.3s;
  border-radius: 10px;
}

.nav-links .link1::after {
  width: 37px;
}
.nav-links .link2::after {
  width: 42px;
}
.nav-links .link3::after {
  width: 65px;
}
.nav-links .link4::after {
  width: 43px;
}
.nav-links .link5::after {
  width: 60px;
}

.nav-links a:hover::after {
  transform: scale(1);
}

.nav-links ul:hover a {
  color: rgb(158, 154, 154);
}

.nav-links ul:hover a:hover {
  color: rgb(255, 255, 255);
}

.main {
  display: flex;
}
.main-box {
  background: url("/portfolio/images1/back.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-b {
  width: 50%;
  padding: 150px 20px 50px 80px;
}

.hello {
  color: white;
  font-size: clamp(1.3rem, 3vw, 4rem);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.name {
  color: #ff0000;
  font-size: clamp(1.3rem, 3vw, 4rem);
  font-family: sans-serif;
}

.extra-info {
  margin-top: 20px;
}

.extra-info p {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.portfolio img {
  width: 230px;
  transition: 0.3s;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-size: cover;
  transition: all 0.3s;
}

.portfolio img:hover {
  transform: scale(1.1);
  border-color: rgb(255, 0, 0);
}

.ser {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: math;
  font-weight: 1;
}

.des {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  font-size: 14px;
  font-family: system-ui;
}

.ser-div {
  width: 18%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
}

.serv {
  background: url("/portfolio/images1/imgs.png");
  width: 100%;
  color: white;
  font-size: 11px;
  padding: 18px;
  border-radius: 10px;
}

.services-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.projects {
  text-align: center;
  margin-top: 100px;
  font-family: math;
  font-size: 25px;
  margin-bottom: 30px;
}

.projects-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.project-images {
  height: 300px;
}

.pro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-imgs {
  width: 450px;
}

.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  background-color: #25454b;
  width: 450px;
  height: 300px;
}

h4 {
  color: white;
  letter-spacing: 10px;
  padding-bottom: 40px;
}

.description {
  color: white;
  font-size: 12px;
  line-height: 20px;
}

.proBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.proBtn a {
  background: rgba(255, 255, 255, 0.71);
  color: rgb(255, 0, 0);
  font-family: math;
  font-size: 13px;
  padding: 4px 20px;
  border-radius: 4px;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.proBtn a:hover {
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  /* border: none; */
}

.about {
  margin-top: 140px;
}

.ab-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab-img {
  border: 3px solid red;
  padding-bottom: 20px;
  padding-left: 20px;
}

.ab-img img {
  margin-top: -20px;
  margin-right: -20px;
}

.about-me {
  width: 66%;
  margin-left: 60px;
  text-align: initial;
}

.about-me h3 {
  font-family: sans-serif;
  font-weight: 2;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.about-me p {
  font-size: 12px;
  font-family: system-ui;
  margin-bottom: 10px;
}

.resume {
  border: 2px solid red;
  padding: 6px 15px;
  cursor: pointer;
}

.con {
  text-align: center;
  margin-top: 75px;
  padding: 12px;
  font-size: 22px;
  font-family: system-ui;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cnt {
  border: 1px solid red;
  border-radius: 8px;
  padding: 15px;
  background-color: #232b40;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

.add {
  font-size: 13px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.ftr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 60px 0px;
  background: #24262b;
  width: 90%;
  padding: 50px 20px;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.ftr h5 {
  color: white;
  font-family: monospace;
  font-size: 18px;
  border-bottom: 2px solid rgb(189, 15, 15);
  padding-bottom: 10px;
  margin-bottom: 30px;
  white-space: nowrap;
}

.ftr ul {
  line-height: 25px;
}

.ftr ul li a {
  transition: 0.3s;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  white-space: normal;
}
.ftr ul li a:hover {
  padding-left: 10px;
}

.b-s {
  flex: 1;
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
}

.burger {
  display: none;
}

.line {
  background-color: red;
  width: 30px;
  margin: 3px 3px;
  height: 3px;
}

.ser-div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid red;
  padding: 5px 20px;
  cursor: pointer;
}

.ser-div a:hover {
  color: red;
  border-color: white;
}

.ser-div strong {
  font-size: clamp(0.7rem, 1vw, 2rem);
  font-family: sans-serif;
  border-bottom: 2px solid red;
  line-height: 60px;
  padding-bottom: 4px;
}

hr {
  opacity: 0;
}

.red-clr {
  color: red;
}

@media only screen and (max-width: 1000px) {
  .pro {
    flex-direction: column;
  }

  .odr {
    order: 2;
  }

  .projects-details {
    gap: 60px;
  }

  .projects-details .pro {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

@media only screen and (max-width: 840px) {
  .nav-name {
    width: 40%;
    margin-left: 15px;
  }
  .nav-links {
    width: 50%;
  }

  .ser-div {
    width: 23%;
  }

  .about-me {
    width: 55%;
  }
}

@media only screen and (max-width: 640px) {
  .nav-bar {
    flex-direction: column;
    width: 100%;
  }

  .nav-name {
    width: 90%;
    display: flex;
    min-height: 40px;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    line-height: 30px;
    width: 100%;
    position: relative;
    z-index: -1;
  }

  .burger {
    display: block;
    position: absolute;
    left: 85%;
    top: 10px;
  }

  .nav-list {
    transform: translateY(-200%);
  }
  .nav-links ul {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .hei {
    transform: translate(-200%);
  }

  .main-b {
    padding: 64px 0px 0px 0px;
  }

  .services-div {
    gap: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .services-div .ser-div {
    width: 60%;
  }

  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 570px) {
  .contact-info {
    flex-direction: column;
    gap: 20px;
  }

  .main-b {
    width: 80%;
  }

  .cnt {
    width: 60%;
  }

  .ab-sec {
    flex-direction: column;
    gap: 30px;
  }

  .about-me h3 {
    text-align: center;
  }

  .about-me {
    margin-left: 0px;
  }
  .about-me p {
    text-align: justify;
  }

  .p {
    width: 90%;
  }

  .project-images {
    width: 90%;
  }

  .project-images img {
    width: 100%;
  }
  .portfolio {
    width: 45%;
  }

  h4 {
    margin-top: 30px;
  }

  .des {
    margin-inline: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .main-b h1 {
    font-size: 25px;
  }

  .portfolio {
    width: 60%;
  }
  .des {
    margin-left: 20%;
    margin-right: 20%;
  }

  .ser-div {
    min-width: 85%;
  }
}
