* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  height: 30px;
  background: #24ba9e;
}

.navbar h1 {
  font-family: math;
  color: white;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-family: system-ui;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #338787;
}

main .container {
  width: 90%;
  margin-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .sub-cont {
  background: #ffffff78;
  padding: 15px 31px;
  border: 1px solid #ffffff52;
  backdrop-filter: blur(30px);
  margin-block: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sub-cont h3 {
  color: rgb(255, 0, 0);
  font-family: hack;
  margin-bottom: 10px;
}

.sub-cont p {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 14px;
}
