* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgb(39, 145, 181);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.nav-bar h2 {
  color: white;
  font-family: math;
  font-size: 18px;
  margin-left: 10px;
  letter-spacing: 3px;
}

.nav-bar a {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  margin-right: 10px;
}

.container {
  background: darkcyan;
  background-size: cover;
  padding-bottom: 100px;
}

.container > h3 {
  text-align: center;
  font-family: math;
  padding-top: 20px;
  color: white;
}

.form_sec {
  margin-block: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 2px solid #ffffff44;
  padding: 50px 25px;
  background: #7b6a6a70;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form label {
  color: rgba(255, 255, 255, 0.918);
  font-family: system-ui;
  font-size: 13px;
  letter-spacing: 3px;
  margin-top: 20px;
}

form input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  width: 300px;
  color: white;
  padding-top: 5px;
  margin-top: 20px;
}

form input::placeholder {
  color: white;
  padding-bottom: 5px;
  opacity: 0.9;
  font-size: 13px;
  font-family: math;
}

.pro-img {
  position: absolute;
  top: 90px;
  right: 40px;
  border: 2px solid white;
  /* display: flex; */
  padding-top: 100px;
}

.pro-img input {
  width: 180px;
  outline: none;
  border: none;
  /* background: transparent; */
  color: white;
}

.whats_no {
  display: flex;
  align-items: center;
}

.whats_no #whatsapp {
  width: 65px;
  border: none;
  margin-top: 24px;
}

.heading {
  margin-top: 45px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  letter-spacing: 3px;
  /* padding-left: 10px; */
}

#male,
#female {
  width: 20px;
}

.dob_sec {
  margin-bottom: 65px;
}

.course_sec {
  /* width: 95%; */
  background: #ffffff2b;
  padding: 15px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.course_sec select {
  margin-top: 15px;
  background: #ffffffab;
  border: none;
  padding: 3px 8px;
  border-radius: 8px;
  color: black;
  font-weight: bolder;
  outline: none;
}

.add_sub {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.add_sub input {
  width: 10px;
  margin-right: 20px;
  margin-left: 8px;
}

.details_sec {
  display: flex;
  flex-direction: column;
  background: #ffffff2b;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gen_dob {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #ffffff2b;
  padding: 15px 25px;
  border-radius: 10px;
}

.sub_sec {
  display: flex;
  margin-top: 30px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #ffffff2b;
  padding: 15px 25px;
  border-radius: 10px;
  justify-content: space-between;
  padding-top: 0;
}

.sub_sec input {
  border: 1.5px solid white;
  padding: 5px 0px;
  font-family: system-ui;
  font-size: 16px;
  width: 100px;
  border-radius: 8px;
  transition: 0.2s;
}

.sub_sec .sub_btn:hover {
  border: none;
  background: rgb(0, 191, 255);
}

.sub_sec .reset_btn:hover {
  border: none;
  background: rgb(255, 0, 0);
}

.mar_heads {
  padding-left: 10px;
}

@media only screen and (max-width: 864px) {
  form {
    width: 85%;
  }

  .pro-img {
    padding-top: 85px;
  }

  .pro-img input {
    width: 140px;
  }
}

@media only screen and (max-width: 665px) {
  .details_sec .inp_1 {
    margin-top: 55px;
  }

  .details_sec {
    /* justify-content: center; */
    align-items: center;
  }

  .pro-img {
    position: static;
    order: -1;
    max-width: 300px;
  }
}

@media only screen and (max-width: 470px) {
  .details_sec input {
    width: 240px;
  }

  .pro-img {
    overflow: hidden;
    width: 150px;
  }

  .gen_dob .dob_sec input {
    width: 200px;
  }
}

@media only screen and (max-width: 400px) {
  form {
    width: 96%;
    padding: 50px 10px;
  }

  .details_sec {
    padding: 15px 10px;
  }

  .details_sec input {
    width: 90%;
  }
}
