* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: rgb(204, 209, 213);
}
nav {
  background-color: #3b5478;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  cursor: pointer;
  position: sticky;
  z-index: 1;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

nav .name {
  width: 25%;
}

nav .name h1 {
  padding-left: 53px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  transition: 0.3s;
}

nav .name h1:hover {
  color: red;
}

nav .nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  align-items: center;
}

.nav-links ul {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links ul li a {
  color: white;
  font-family: system-ui;
  transition: 0.2s;
}

.nav-links ul li {
  list-style: none;
}

.nav-links ul li a:hover {
  color: rgb(255, 0, 0);
  border-bottom: 2px solid #eeff00;
  font-weight: bolder;
}

.main-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7) url("/images/img-a (8).jpg");
  background-blend-mode: darken;
  background-size: cover;
}

.ab-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ab-sec p {
  width: 90%;
  margin-block: 20px;
  background: rgba(0, 0, 0, 0.7) url("/images/img-a (2).jpg");
  background-size: cover;
  background-blend-mode: darken;
  color: #7adbea;
  text-align: justify;
  padding: 30px;
  font-family: math;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ab-sec p::selection {
  color: #ffd000;
}

.ab-h {
  text-align: center;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  color: #3b5478;
}

.port {
  color: rgb(251, 255, 0);
  border: 2px solid red;
  padding: 1vw 3vw;
}

.port:hover {
  border-color: rgb(251, 255, 0);
  color: red;
}

.wallpapers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
}

.wallpapers img {
  width: 250px;
  height: 150px;
  transition: 0.3s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.wallpapers img:hover {
  transform: scale(1.07);
}

.gallery {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  color: #3b5478;
  font-size: 25px;
}

.wall {
  text-align: center;
  border: 2px solid red;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wall h4 {
  padding-block: 15px;
  margin-top: 25px;
}
.wall h4 a {
  border: 2px solid #ffd000;
  padding: 10px 30px;
  font-family: cursive;
  color: crimson;
  transition: 0.3s;
}

.wall h4 a:hover {
  border: none;
  background-color: red;
  color: #ffd000;
  border-radius: 10px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.ftr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 60px 0px;
  background: #24262b;
  width: 90%;
  padding: 50px 20px;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.ftr h5 {
  color: white;
  font-family: monospace;
  font-size: 18px;
  border-bottom: 2px solid rgb(189, 15, 15);
  padding-bottom: 10px;
  margin-bottom: 30px;
  white-space: nowrap;
}

.ftr ul {
  line-height: 25px;
}

.ftr ul li a {
  transition: 0.3s;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  white-space: normal;
}
.ftr ul li a:hover {
  padding-left: 10px;
}

.b-s {
  flex: 1;
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
}

.burger {
  display: none;
}

.line {
  background-color: red;
  width: 30px;
  margin: 3px 3px;
  height: 3px;
}

hr {
  opacity: 0;
}

.hbtn {
  position: sticky;
  top: 90svh;
  text-align: end;
  margin-right: 10px;
}

.h-btn {
  position: sticky;
  top: 300px;
  background-color: rgba(0, 255, 234, 0.6);
  padding: 5px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.h-btn:hover {
  background-color: #00ddff;
}

@media screen and (max-width: 744px) {
  .nav-links ul {
    width: 75%;
  }
  section div img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  nav .name h1 {
    font-size: clamp(0.8rem, 25%, 3rem);
  }
  section div {
    flex-direction: column;
    width: 80%;
  }

  .wallpapers img {
    width: 400px;
    height: 225px;
  }
}

@media screen and (max-width: 555px) {
  .nav-links ul {
    width: 80%;
  }

  nav {
    flex-direction: column;
  }

  nav .name {
    width: 100%;
    display: flex;
    min-height: 45px;
    align-items: center;
  }

  nav .name h1 {
    font-size: clamp(0.8rem, 20%, 3rem);
    padding-left: 12px;
  }
  nav .nav-links {
    width: 100%;
    min-height: 150px;
    transition: 0.4s;
  }
  .nav-links ul {
    line-height: 35px;
    flex-direction: column;
    background-color: #3b5478;
    width: 100%;
    transition: 0.4s;
  }
  .nav-links ul li a {
    font-size: 16px;
  }

  section div img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  section div {
    flex-direction: column;
    min-width: 90%;
  }

  .wallpapers img {
    width: 330px;
    height: 180px;
  }

  .burger {
    display: block;
    position: absolute;
    left: 85%;
  }
  .hei {
    transform: translateY(-200%);
  }

  .nav-lists {
    transform: translateY(-200%);
  }
}
