* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.2) url(/E-material/images/image-6.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.home {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.home a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: 1px solid white;
  font-family: monospace;
  border-radius: 20px;
  padding: 10px;
}

.home a:hover {
  color: black;
  background-color: rgba(171, 171, 171, 0.5);
}

.cont-para {
  text-align: center;
  margin: 20px 20px;
}

.cont-para p {
  font-size: 10px;
  font-family: sans-serif;
  color: #000000;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
}

section {
  display: flex;
  align-items: center;
}
.address {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.add {
  text-align: center;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.add p {
  color: #ec0000;
  font-size: 18px;
  font-family: fantasy;
  padding-bottom: 10px;
  letter-spacing: 6px;
  text-align: center;
}
address {
  color: #000000;
  font-style: normal;
  font-family: math;
  font-size: 12px;
}

.ph {
  margin-top: 30px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ph p {
  color: #ec0000;
  font-size: 18px;
  font-family: fantasy;
  padding-bottom: 10px;
  letter-spacing: 6px;
}

.ph span {
  color: #000000;
  font-style: normal;
  font-family: math;
  font-size: 12px;
}

.email {
  text-align: center;
  margin-top: 30px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.email p {
  color: #ec0000;
  font-size: 18px;
  font-family: fantasy;
  padding-bottom: 10px;
  letter-spacing: 6px;
}

.email span {
  color: #000000;
  font-style: normal;
  font-family: math;
  font-size: 12px;
}

.cont-form {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px 70px 10px 70px;
  margin-top: 20px;
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
}

img {
  width: 240px;
}

form label {
  color: red;
  font-family: monospace;
}

.bor {
  border-bottom: 1px solid black;
  margin: 30px 0px;
  width: 240px;
}

input {
  outline: none;
  border: none;
  background: transparent;
}

textarea {
  outline: none;
  border: none;
  background: transparent;
}

.send {
  background: #8f8fe6;
  padding: 5px 15px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

footer h4 {
  background: bisque;
  padding: 15px 0px;
  color: black;
  font-family: system-ui;
}

@media screen and (max-width: 805px) {
  section {
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
  .add,
  .ph,
  .email {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  img {
    width: 200px;
  }
  .bor {
    width: 200px;
  }
  .cont-form {
    padding: 20px 50px 10px 70px;
  }
}
