* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url(/E-material/images/log-back.jpg);
  background-size: cover;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.home a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: 1px solid white;
  font-family: monospace;
  border-radius: 20px;
  padding: 10px;
}

.home a:hover {
  color: black;
  background-color: rgba(171, 171, 171, 0.5);
}

.login-page {
  border: 1px solid white;
  padding: 35px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

h2 {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  letter-spacing: 2px;
}

.bor {
  border-bottom: 1px solid white;
  margin-bottom: 15px;
  width: 200px;
}

label {
  font-family: system-ui;
  font-size: 14px;
  color: white;
}
input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
}

.rem-pass {
  text-align: center;
}

.sub-btn {
  color: black;
  font-family: monospace;
  font-weight: bolder;
}

.log-btn {
  text-align: center;
  margin: 10px 0px 0px 0px;
  background: white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

button {
  border: none;
  background: transparent;
  color: white;
  font-size: 12px;
  font-family: monospace;
}

.forget {
  margin: 20px 0px;
  text-align: center;
}

span {
  color: white;
  font-size: 12px;
  font-family: cursive;
}

.register {
  text-align: center;
}

.register a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

span a:hover {
  color: rgb(255, 0, 0);
}
