* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background: #2ec194;
  background-size: cover;
  background-blend-mode: darken;
}
.home {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.home a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: 1px solid white;
  font-family: monospace;
  border-radius: 20px;
  padding: 10px;
}

.home a:hover {
  color: black;
  background-color: rgba(171, 171, 171, 0.5);
}

header {
  margin-bottom: 100px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

img {
  width: 200px;
  border-radius: 15px;
}

.head {
  background: #2ec194;
  /* background-size: cover;
    background-blend-mode: darken; */
  color: rgb(255, 255, 255);
  padding: 12px 0px;
  font-size: 20px;
  font-family: cursive;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
}

.mid-sec {
  background: #2ec194;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-size: cover;
}
.s-s {
  padding: 20px 60px;
}

.mid-sec-img {
  padding: 15px 0px;
}

.scroll {
  height: 55vh;
  overflow-y: scroll;
}

.head span {
  border: 1px solid white;
  padding: 5px 35px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}

ul {
  padding: 20px;
  line-height: 25px;
}

ul li {
  margin: 15px 0px;
}

ul li a {
  color: white;
  font-family: sans-serif;
  font-style: italic;
  font-size: 14px;
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 10px;
}
ul li a:hover {
  color: rgb(255, 0, 0);
  background-color: white;
}

footer {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

footer h4 {
  background: bisque;
  padding: 15px 0px;
  color: black;
  font-family: system-ui;
}

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column;
  }

  .mid-sec {
    width: 80%;
    margin-bottom: 80px;
    background: #2ec194;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
      15px 15px 15px rgba(0, 0, 0, 0.1),
      inset -5px -5px 5px rgba(255, 255, 255, 0.2),
      inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  }

  .resp {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .resp {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .mid-sec {
    width: 90%;
  }
  header {
    margin-bottom: 30px;
  }
}
