@import "/css/style.css";
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #8aaae5;
  background-size: cover;
  background-blend-mode: darken;
}
header {
  margin-bottom: 70px;
}

.home {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.home a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border: 1px solid white;
  font-family: monospace;
  border-radius: 20px;
  padding: 10px;
}

.home a:hover {
  color: black;
  background-color: rgba(171, 171, 171, 0.5);
}

img {
  width: 150px;
}

section {
  width: 100%;
}
.class-sixth {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid white; */
  padding: 50px 0px;
  margin: 0px 30px;
  border-radius: 15px;
  background: #fcf6f5ff;
  background-size: cover;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  flex-wrap: wrap;
  backdrop-filter: blur(10px);
}

.subjects {
  border: 5px solid #fcf6f5ff;
  display: flex;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sixth-class img {
  border-bottom: 2px solid red;
}

.sub-name {
  margin: 15px 0px;
}

.sub-name a {
  background: white;
  padding: 6px 15px;
  border-radius: 12px;
  color: red;
  font-size: 12px;
  font-family: cursive;
  font-style: italic;
}

.sub-name a:hover {
  color: white;
  background-color: red;
  font-size: 16px;
}

h3 {
  text-align: center;
  margin: 50px 0px;
  font-size: 15px;
  font-family: monospace;
  color: white;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.ftr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px 0px;
  background: #24262b;
  width: 90%;
  padding: 50px 0px 50px 0px;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.ftr h5 {
  color: white;
  font-family: monospace;
  font-size: 18px;
  border-bottom: 2px solid rgb(189, 15, 15);
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.ftr ul {
  line-height: 25px;
}

.ftr ul li a {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.ftr ul li a:hover {
  padding-left: 10px;
}

.b-s {
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
}
