* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url(/E-material/images/back-j.jpg);
  background-size: cover;
  background-blend-mode: darken;
  height: 40px;
  align-items: center;
}

.name {
  align-items: center;
  width: 40%;
  display: flex;
  margin-left: 40px;
}

.name h1 {
  color: white;
  font-family: sans-serif;
  letter-spacing: 8px;
  font-size: 20px;
}

.name h1::first-letter {
  color: red;
}

.nav-links {
  width: 60%;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-family: system-ui;
}
.nav-links li a:hover {
  color: rgb(255, 0, 0);
  font-weight: bolder;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
}

.main {
  background: rgba(0, 0, 0, 0.6) url(/E-material/images/img-3.jpg);
  background-size: cover;
  background-blend-mode: darken;
  height: 100vh;
}

.quote {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.q-head {
  padding: 10px;
  width: 80%;
  margin: 115px 5px 0px 0px;
  border-radius: 20px;
}

.q-head h2 {
  text-align: center;
  color: white;
  font-style: italic;
}

h4 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 22px;
  font-family: system-ui;
  letter-spacing: 5px;
}

.ab-us {
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 20px;
  padding-bottom: 30px;
}

.subs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #00a8ff;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.imgs {
  display: flex;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #00a8ff;
  border-radius: 0px;
}
img {
  width: 200px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  width: 200px;
  border-bottom: 5px solid #00a8ff;
  margin: 0px 0px 20px 0px;
}
.imgs a {
  background: #00a8ff;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #e00000;
  font-family: system-ui;
  font-weight: bold;
  padding: 8px;
  background: white;
  margin: 10px;
  border-radius: 8px;
  font-size: 12px;
}

.imgs a:hover {
  background: #e00000;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.navbar-toggler {
  display: none;
  height: min-content;
  margin: 20px 20px 10px 10px;
  cursor: pointer;
  place-items: end;
}

.seeall {
  display: none;
}
.bar {
  width: 40px;
  height: 2px;
  margin-bottom: 10px;
  background: white;
  border-radius: 10%;
  transition: 0.4s;
}

.click {
  display: none;
}

.click:checked ~ nav .links {
  transform: translate(0);
}

.click:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
.click:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}
.click:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* .see {
    display: none;
} */

.see a {
  text-decoration: none;
  background: white;
  color: red;
  padding: 10px;
  border-radius: 25px;
}

.see a:hover {
  background: red;
  color: white;
}

.mid {
  font-size: 12px;
  letter-spacing: 2px;
  padding-top: 5px;
  color: gray;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.ftr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px 0px;
  background: #24262b;
  width: 90%;
  padding: 50px 0px 50px 0px;
  box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
}

.ftr h5 {
  color: white;
  font-family: monospace;
  font-size: 18px;
  border-bottom: 2px solid rgb(189, 15, 15);
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.ftr ul {
  line-height: 25px;
}

.ftr ul li a {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
}
.ftr ul li a:hover {
  padding-left: 10px;
}

.b-s {
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
}

h6 {
  text-align: center;
  font-family: monospace;
  padding: 20px 0px;
}

@media screen and (max-width: 1200px) {
  section {
    width: 100%;
  }
  /* .see {
        display:grid;
    } */
  /* .five{
        display: none;
    } */
}
@media screen and (max-width: 1020px) {
  section {
    width: 100%;
  }
  .four {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  section {
    width: 100%;
  }
  .q-head {
    width: 90%;
  }
  .three {
    display: none;
  }
  nav .links {
    display: grid;
    position: absolute;
    background: #404040;
    width: 100%;
    top: 40px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.6s;
    text-align: center;
  }

  .links li {
    padding: 10px;
  }
  .navbar-toggler {
    display: grid !important;
  }
  .ftr {
    flex-wrap: wrap;
  }
  .b-s {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 548px) {
  section {
    width: 100%;
  }
  .two {
    display: none;
  }
  .subs {
    flex-direction: column;
  }
  .see-all {
    margin-top: 10px;
  }
  nav .nav-links {
    width: 20%;
  }
  .name {
    width: 80%;
  }
  .see {
    display: none;
  }
  .seeall {
    display: grid;
  }
  .main {
    height: 90vh;
  }
}

@media screen and (max-width: 395px) {
  .b-s {
    width: 90%;
  }
}
